<!DOCTYPE html>
<html>
<head>
  <title>Oculus Paint</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script src="../node_modules/socket.io-client/socket.io.js"></script>
  <script src="../support/three.min.js"></script>
  <script src="../support/VRRenderer.min.js"></script>
  <script src="../lib/cameraMovement.js"></script>
  <script src="../lib/ioClient.js"></script>
  <script src="../lib/draw.js"></script>
  <script src="../app.js"></script>
</head>
<body>
  <canvas id="render-canvas"></canvas>
  <div style="position: fixed; top: 8px; left: 8px; color: white">Hit the F key to engage VR rendering</div>
</body>
</html>
