<!DOCTYPE html>
<html>
<head>
  <title>Oculus Paint</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script src="../node_modules/socket.io-client/socket.io.js"></script>
  <script src="../support/three.js"></script>
  <script src="../support/DDSLoader.js"></script>
  <script src="../support/MTLLoader.js"></script>
  <script src="../support/OBJMTLLoader.js"></script>
  <script src="../lib/ioClient.js"></script>
  <script src="../lib/draw.js"></script>
  <script src="../lib/floor.js"></script>
  <script src="../app.js"></script>
</head>
<body>
  <canvas id="render-canvas"></canvas>
</body>
</html>
